
@font-face {
  font-family: 'HarmonyOSSansSC';
  font-display: swap;
  src: url('./HarmonyOS_Sans_SC_Regular.ttf');
}

@font-face {
  font-family: 'SarasaUiSC';
  src: url('./SarasaUiSC-Regular.ttf');
}

@font-face {
  font-family: 'CascadiaMono';
  src: url('./CascadiaMono.ttf');
}

@layer base {
  html {
    font-family: HarmonyOSSansSC, SarasaUiSC, system-ui !important;
    transition: background-color 0.5s;
  }
}

.gradient-text {
  font-family: SarasaUiSC, HarmonyOSSansSC, system-ui !important;
  background: linear-gradient(90deg, #B0B6E1 10%, #C5B9D6 90%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-glow {
  text-shadow: 0 0 12px rgba(186, 183, 220, 0.4);
}

.select {
  user-select: text;
}

.wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.03);
  filter: drop-shadow(0 0 8px #ffffff34);
}

.hover-move {
  transition: transform 0.4s ease;
}

.hover-move:hover {
  transform: translateY(-1px);
}

.hover-scale-text {
  transition: transform 0.3s ease;
}

.hover-scale-text:hover {
  transform: scale(1.01);
  filter: drop-shadow(0 0 4px #ffffff50);
}

.v-text-field.type-number {
  --v-field-padding-start: 1rem;
  --v-field-border-radius: 8px;
}

.v-progress-linear {
  filter: drop-shadow(0 0 8px #ffffff50);
}

.v-progress-circular {
  filter: drop-shadow(0 0 8px #ffffff50);
}

.glow-spinner {
  filter: drop-shadow(0 0 8px #2196F3);
}

.v-stepper__content {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.v-stepper__content-leave-active {
  position: absolute;
}

.v-stepper__content-leave-to {
  opacity: 0;
  transform: translateX(-20px);
}

.v-stepper__content-enter-from {
  opacity: 0;
  transform: translateX(20px);
}

.fade-in {
  animation: fadeIn 0.5s cubic-bezier(0, 0, 0, 1) forwards;
  opacity: 0; /* 初始状态透明 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.8;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    scale: 0.8;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}

@keyframes hoverUp {
  from {
    opacity: 1;
    scale: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    scale: 1.05;
    transform: translateY(-4px);
  }
}

@keyframes Up {
  to {
    visibility: visible;
  }
}

@keyframes animateFlow {
  0% { transform: translate(-25%, -25%) rotate(0deg); }
  100% { transform: translate(-25%, -25%) rotate(360deg); }
}

@keyframes blurFade {
  from {
    backdrop-filter: blur(0px);
    opacity: 1;
  }
  to {
    backdrop-filter: blur(20px);
    opacity: 1;
  }
}